$logo-width: 86px;
$bg-color-1: #63d1bb;
$bg-color-2: #56c3b2;
$col-input: #cccccc;
$col-grey: #444444;
$media-mobile-only: (max-width: 767px);
$tablet-width: (min-width: 768px);
$desktop-width: (min-width: 1150px);
$retina: (min-resolution: 1.5dppx),(min-resoluton: 144dpi);
